/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

#main{
    position:relative;
}

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/* Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

ul {
    list-style: none;
}

#secondary {
    background: $main_color;
    background-size: 100%;
    position: relative;
    padding-bottom: 4rem;
    overflow-y: hidden;

    img {
        width: 49vw;
        position: absolute;
        left: -3%;
        max-width: 790px;
        top: 241px;

        @include mini {
            width: 114vw;
            position: absolute;
            left: -13%;
            top: 595px;
        }
    }
}


input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
    background: #fff;
    border: none;
}

form {
    width: 75%;
    margin: 0 auto;

    textarea {
        height: 231px;
        padding-top: 20px;
    }

    input {
        height: 40px;
    }

    input, textarea {
        background: #fff;
        width: 35vw;
        padding-left: 25px;
        font-size: 17px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: #666;
        padding-left: 25px;

        @include mini {
            width: 80vw;
        }
    }

    .wpcf7-submit {
        box-shadow: none;
        width: 145px;
        background: #fff;
        font-size: 17px;
        border: none;
        padding: 0;
        text-align: left;
        padding-left: 25px;
        float: right;
    }
}

.custom-html-widget {
    padding-top: 210px;
    @include mini{
        padding-top:120px;
    }
}

.wpcf7 {
    position: relative;
    bottom: 40px;
}

.widget-title:before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: -20px;
    width: 34%;
    border-bottom: 5px solid #000;

    @include mini {
        border-bottom: none;
    }
}

.widget-title {
    top: 50px;
    width: 240px;
    height: 40px;
    position: relative;
    z-index: 1;
    font-size: 39px;
    margin-left: 28.7%;
    font-family: 'Rockwell';
    color: #000;

    @include mini {
        margin: 0 auto;
        font-size:30px;
        text-align:center;
    }
}

.hidden {
    display: none;

    @include mini {
        display: block !important;
    }
}

.show {
    display: block;
}

.flex {
    display: flex;
}

input {
    border: none;
}

textarea {
    resize: none;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

label {
    @include mini {
        overflow-x: hidden;
    }
}

//Flickity Global

.flickity-prev-next-button {
    border: none;
    box-shadow: none;
}

.flickity-page-dots {
    display: none;
}

//Social Icons

.social-container{
    background:$main_color;
    background: #f8d406;
    position: absolute;
    z-index: 1000;
    top: 0;
    display: flex;
    padding: 1%;
    @include mini{
        right:0;
        flex-direction:column;
    }
    i{
        font-size: 1.8rem;
        background: #000;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:$main_color;
        transition:all 0.3s ease-in-out;
        margin:0 10px;
        margin-bottom:10px;
        &:hover{
            background:#fff;
            color:#000;
        }
    }
}

.wpcf7-validation-errors{
    border:none !important;
    color:red;
}

*:focus {
    outline: none;
}