/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

ul{
	list-style:none;
}

#secondary {
	background: $main_color;
	background-size: 100%;
	position:relative;
	padding-bottom:4rem;
	overflow-y: hidden;
		img{
			width: 49vw;
			position: absolute;
			left: -3%;
			max-width: 790px;
			top: 241px;
		}
}

.yellow-button{
	transition:all 0.3s linear;
	cursor:pointer;
	border:2px solid $main_color;
		&:hover{
			background:#fff;
			text-decoration:none;
		}
}

input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea{
	background:#fff;
}



form {
	width: 75%;
	margin: 0 auto;

	textarea {
		height: 223px;
		padding-top:20px;
	}

	input {
		height: 40px;
	}

	input, textarea {
		background: #fff;
		width: 35vw;
		padding-left: 25px;
		font-size: 17px;
		font-family: 'Lato', sans-serif;
		font-weight:300;
		letter-spacing:0.5px;
		color: #666;
		padding-left:25px;
	}

	.wpcf7-submit {
		box-shadow: none;
		width: 145px;
		background:#fff;
		font-size:17px;
		margin-right:25px;
		border:none;

		/* text-align: center; */
		padding: 0;

		/* text-align: center; */
		float: right;
	}
}

.custom-html-widget {
	padding-top: 264px;
}

.widget_title {
	text-align: left;
	color:#000;
}

.wpcf7{
	position: relative;
	bottom: 40px;    
}

.widget-title:before{
	content: "";
	position: absolute;
	left: 4px;
	bottom: -20px;        
	width: 34%;
	border-bottom: 5px solid #000;
}

.widget-title {
	top:100px;
	width: 240px;
	height: 40px;
	position: relative;
	z-index: 1;
	font-size: 39px;
	margin-left: 28.7%;
	font-family:'Rockwell';
	color:#000;
}

.hidden{
	display:none;
}

.show{
	display:block;
}

.flex{
	display:flex;
}

input{
	border:none;
}

textarea {resize: none}

.logo{
	position: absolute;
    margin: 3% 9.5%;
    width: 300px;
    background: red;
    height: 150px;
}