.home {
    overflow-x: hidden;

    #page {
        overflow-x: hidden;
    }

    .polygon2 {
        background: url(../../assets/final-background.png) no-repeat 50%;
        background-size: 123vw 100%;
        position: relative;
        height: 63vw;
        background-position: -43px 0px;

        @include mini {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 105px;
        }
    }

    .hero-icon {
        position: absolute;
        left: 51%;
        top: 10.2vw;
        height: 40vw;
        width: 50%;
        animation: hero-move 1.2s ease-in 0s 1;
        animation-fill-mode: forwards;
        z-index: 1000;

        @include mini {
            display: none;
        }
    }

    .mobile-hero {
        width: 100px;
        display: none;

        @include mini {
            display: block;
        }
    }

    .hero-padding {
        width: 100%;
        height: 150px;
        background: $main_color;
    }

    @keyframes hero-move {
        0% {
            transform: translate(400px, -100px) rotate(0deg);
        }

        100% {
            transform: translate(0) rotate(5deg);
        }
    }

    .name-container {
        display: block;
        left: 21vw;
        position: absolute;
        top: 34%;
        z-index: 3;

        @include mini {
            position: static;
            transform: translateY(-10px);
        }


        h2 {
            margin-top: 24px;
            font-family: 'Rockwell';
            font-weight: 900;
            font-size: 48px;
            color: #000;

            @include mobile {
                font-size: 39px;
            }


            @include mini {
                font-size: 19px;
                margin-bottom: 0;
            }
        }

        p {
            font-size: 21px;
            font-family: 'Lato', sans-serif;
            color: #000;

            @include mobile {
                font-size: 18px;
            }


            @include mini {
                font-size: 12px;
            }
        }
    }

    .flap {
        width: 16%;
        position: absolute;
        top: 88.1%;
        right: 53.5%;
    }

    //About Me Section

    .about-me-section {
        position: relative;
        padding-top: 24rem;
        min-height: 743px;
    }

    .about-header, .portfolio-header, .clients-header, .clients-header2 {
        width: 220px;
        height: 40px;
        position: relative;
        z-index: 1;
        font-size: 39px;
        margin-left: 30.7%;
        font-family: 'Rockwell';
        color: #000;

        @include mini {
            margin-left: 0;
            text-align: center;
            margin: 0 auto;
        }
    }

    .about-header:before, .portfolio-header:before, .clients-header:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 34%;
        border-bottom: 5px solid #000;

        @include mini {
            left: 33px;
            border-bottom: none;
        }
    }

    .resume {
        p {
            color: #d7d6d5;
            font-size: 19px;
            font-family: 'Lato',sans-serif;
            max-width: 350px;
            font-weight: 300;
            margin-bottom: 36px;

            @include mini {
                margin: 0 auto;
                margin-bottom: 36px;
            }
        }

        a {
            background: $main_color;
            color: #000;
            font-size: 17px;
            font-family: 'Lato', sans-serif;
            padding: 7px 20px;
            transition:all 0.3s ease-in;
            &:hover{
                background:#fff;
                border:3px solid $main_color;
                text-decoration:none;
                letter-spacing:1px;
            }
        }
    }

    .resume1 {
        @include mini {
            margin-bottom: 100px;
        }
    }

    .portfolio-section {
        margin-bottom: 30vw;
        margin-top: 11vw;
        min-height: 620px;

        @include mini {
            margin-bottom: 20vw;
        }
    }

    .portfolio-container {
        transform: translate(-76px, 190px);
        position: relative;

        @include mini {
            transform: translate(0);
        }
    }

    .learn-more-container {
        position: relative;
        left: 69%;
        bottom: 43vw;
        opacity: 0;

        @include mini {
            width: 350px;
            margin: 0 auto;
            text-align: center;
            position: static;
            margin-top: 80px;
        }


        p {
            color: $main_font_color;
            max-width: 265px;
            font-weight: 'Lato', sans-serif;
            margin-bottom: 36px;
            font-size: 18px;
            font-weight: 300;

            @include mini {
                margin: 0 auto;
                margin-bottom: 36px;
            }
        }

        a {
            background: $main_color;
            color: #000;
            padding: 9px 29px;
            font-size: 15px;
            font-family: 'Lato', sans-serif;
        }
    }

    .learn-fade {
        animation: drop-learn 1s linear 0s 1;
        animation-fill-mode: forwards;

        @include mobile {
            animation: drop-learn1200 1s linear 0s 1;
            animation-fill-mode: forwards;
        }


        @include mini {
            animation: drop-learn720 1s linear 0s 1;
            animation-fill-mode: forwards;
        }
    }

    @keyframes drop-learn {
        0% {
            bottom: 43vw;
            opacity: 0;
        }

        100% {
            bottom: 25vw;
            opacity: 1;
        }
    }

    @keyframes drop-learn1200 {
        0% {
            bottom: 43vw;
            opacity: 0;
        }

        100% {
            bottom: 17vw;
            opacity: 1;
        }
    }

    @keyframes drop-learn720 {
        0% {
            bottom: 43vw;
            opacity: 0;
        }

        100% {
            bottom: -10vw;
            opacity: 1;
        }
    }

    .portfolio-hero {
        background: url(../../assets/Portfolio-cutout.png) no-repeat 50%;
        background-size: 100vw 57vw;
        height: 900px;
    }

    .portfolio-header {
        margin-left: 34.5%;
        top: 10vw;

        @include mini {
            margin-left: 0;
            margin: 0 auto;
        }
    }

    #portfolio-list {
        margin: 15vw auto;
        width: 31%;
        height: 42vw;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        margin-left: 34.5%;

        @include mini {
            width: 80vw;
            height: 516px;
            margin: 0 auto;
            margin-top: 100px;
        }


        .portfolio-picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    //Skill List

    .skill-list {
        display: flex;
        padding: 0 8%;
        margin-top: 140px;

        @include mini {
            flex-direction: column;
        }


        li {
            flex-basis: 20%;
            text-align: center;

            @include mini {
                margin-bottom: 50px;
            }


            img {
                width: 30%;

                @include mini {
                    max-width: 100px;
                }
            }

            p {
                color: #909090;
                font-size: 21px;
                margin-top: 24px;
            }
        }
    }

    .resume-container {
        margin-left: 28%;
        margin-top: 7%;

        @include mini {
            margin-left: 0;
            margin-top: 0;
            text-align: center;
        }
    }

    //Client Section

    .clients-header {
        top: 63vw;
        margin-left: 34.5%;

        @include mini {
            display: none;
        }
    }

    .client-header2 {
        display: none;

        @include mini {
            display: block;
        }
    }

    .client-section {
        margin-bottom: 160px;
    }

    .main-carousel {
        margin-top: 150px;
        padding-left: 0;
        padding: 0 120px;

        @include mini {
            padding: 0 60px;
            margin-top: 0;
        }
    }

    .carousel-cell {
        text-align: center;
        padding: 53px;

        img {
            height: 30%;
            width: 63%;
            padding: 20px;

            @include mini {
                width: 100%;
                height: auto;
            }
        }
    }

    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }

    @media (min-width: 768px) {
        .col-sm-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }

    .flickity-viewport {
        height: 450px !important;
    }

    .clients-header:before {
        left: 3px;

        @include mini {
            left: 49px;
        }
    }

    .clients-header2{
        display:none;
        @include mini{
            display:block;
        }
    }

    .clients-list {
        margin: 0 auto;
        margin-top: 145px;
    }

    //Contact Section
}

//Home Wrapper

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > li {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
