.page-template-portfolio{

    h1{
        font-size:50px;
        font-family:'Rockwell';
        font-weight: 900;
        letter-spacing: 3px;
    }

    .nav-list{
        margin-bottom:250px;
    }

    .space-out{
        width:auto;
        cursor:pointer;
    }

    .bold-item{
        font-weight:bold;
    }

    .shuffle-nav-wrapper{
        background:$main_color;
        display: flex;
        align-items: center;
        height:50px;
        font-size:30px;
        margin-bottom:36px;
    }

    .wp-post-image{
        border-radius:15px;
    }

    .item{
        color:red;
    }

    .main-portfolio-picture{
        img{
            width:300px;
            max-height:200px;
        }
    }

    .main-list{
        position:static;
    }

    .wp-post-image{
        height:auto;
        width:100%;
    }

    .filtr-item{
        padding:0 1%;
    }

    .button-active{
        font-weight:bold;
    }

    .button-inactive{
        font-weight:100;
    }

    //Filterizr

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container {
            width: 768px; 
        }
    }
    
    /*  #Mobile (Portrait) - Note: Design for a width of 320px */
    @media only screen and (max-width: 767px) {
        .container { 
            width: 95%; 
        }
        
        #portfoliolist .portfolio {
            width:48%;
            margin:1%;
        }		
    }
    
    /* #Mobile (Landscape) - Note: Design for a width of 480px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container {
            width: 70%;
        }
    }

    @media (min-width: 1200px){
        .container {
        width: 1500px;
        }
    }

    #secondary{
        margin-top:29rem;
    }

    

    //Filterizr end
}