.page-template-portfolio{

    h1{
        font-size:50px;
        font-family:'Rockwell';
        font-weight: 900;
        letter-spacing: 3px;
        margin-bottom:45px;
        color:#000;
        @include mini{
            text-align:center;
            transform: translateY(120px);
        }
    }

    .portfolio-header-container{
        @include mini{
            margin:0 auto;
            background:$main_color;
            height:250px;
            margin-bottom:30px;
        }
    }


    #primary{
    .nav-list{
        margin-bottom:250px;
        background:transparent;
        @include mini{
            background:$main_color;
            margin-bottom:0;
        }
    }
}

    .space-out{
        width:auto;
        cursor:pointer;
        font-size:25px;
        padding:0 25px;
        @include main-font;
    }

    .bold-item{
        font-weight:700;
    }

    .shuffle-nav-wrapper{
        background:$main_color;
        display: flex;
        align-items: center;
        height:50px;
        font-size:30px;
        padding: 30px 0;        
        margin-bottom:36px;
        @include mini{
            display:none;
        }
    }

    .shuffle-nav{
        margin-bottom:0;
    }



    .item{
        color:red;
    }

    .main-portfolio-picture{
        img{
            width:300px;
            max-height:260px;
        }
    }

    .main-list{
        position:static;
        @include mini{
            padding-left:0;
        }
    }

    .wp-post-image{
        height:auto;
        width:100%;
    }

    .filtr-item{
        padding:0 1%;
    }

    .button-active{
        font-weight:bold;
    }

    .button-inactive{
        font-weight:100;
    }

    //Filterizr

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container {
            width: 768px; 
        }
    }
    
    /*  #Mobile (Portrait) - Note: Design for a width of 320px */
    @media only screen and (max-width: 767px) {
        .container { 
            width: 95%; 
            @include mini{
                width:100%;
            }
        }
        
        #portfoliolist .portfolio {
            width:48%;
            margin:1%;
        }		
    }
    
    /* #Mobile (Landscape) - Note: Design for a width of 480px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container {
            width: 100%;
        }
    }

    @media (min-width: 1200px){
        .container {
        width: 1500px;
        }
    }

    #secondary{
        margin-top:35rem;
        @include mini{
            margin-top:5rem;
        }
    }

    .image-text{
        @include mini{
            text-align:center;
        }
        h3{
            font-family:'Rockwell';
            font-weight:900;
            margin-bottom:0;
            font-size:40px;
        }
        p{
            font-family:'Lato', sans-serif;
        }
    }

    .caption1{
        font-size:28px;
        margin-bottom:0;
        font-weight:300;
    }

    .caption2{
        font-size:21px;
        font-weight:300;
    }

    input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea{
        border:none;
    }
    
    .nav-item{
        a{
            color:#000;
        }
    }

    //Flickity Slider

    .main-carousel{
        .flickity-prev-next-button:active, .flickity-prev-next-button:hover{
            box-shadow:none;
            text-shadow:none;
        }
        @include mini{
            padding:0;
        }
    }

    .is-selected{
        width: 100vw;
        text-align:center;
    }

    .carousel-cell{
        padding-left:0;
    }


    .flickity-prev-next-button{
        top:300px;
        background:none;
    }

    .wp-post-image{
        border-radius:15px;
        @include mini{
            height: auto;
            width: 70vw !important;
        }
    }

    .carousel-cell {
        padding-right:0;
        height: auto; /* height of carousel */
      }

    .carousel-cell:not(.is-selected){
        visibility:hidden;
    }

    .carousel-cell:last-child{
        transform:translateX(-30%);
    }

    

    


    

}